<form action="/animals" method="post">
  
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="age">Age</label>
  <input type="text" id="age" name="age">

  <label for="type">Type</label>
  <input type="text" id="type" name="type">

  <label for="breed">Breed</label>
  <input type="text" id="breed" name="breed">

  <label for="admission_date">Admission Date</label>
  <input type="date" id="admission_date" name="admission_date">

  <input type="submit" value="Add to the family!">

</form>