<h1>Adoptions</h1>

<p><a href="/new">New Adoption Request</a></p>

<div class="grid">
  <div class="grid-row">
    <% @adoptions.each do |adoption| %>
    <div class="cell">First name: <%= adoption.owner.id %></div>
    <div class="cell">Second_name: <%= adoption.owner.id %></div>
    <div class="cell">Animal Name: <%= adoption.animal.id %></div>
    <div class="cell">Animal Age: <%= adoption.animal.id %></div>
  </div>
</div>
<hr>
<% end %>

