<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal House</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/owners">Owners</a></li>
      </ul>
    </nav>
    <%= yield %>
  </main>
</body>
</html>