<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal House</title>
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

</head>
<body>
  <nav>
  <div id="menu">
      <ul>
        <li><a class="nav" href="/animals">Animals</a></li>
        <li><a class="nav" href="/owners">Owners</a></li>
        <li><a class="nav" href="/adoptions">Adoptions</a></li>
      </ul>
      </div>
  </nav>
  <main>

    <%= yield %>
  </main>
  
</body>
</html>