<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal House</title>
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/buttons.css">

  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

</head>
<body>
  <nav>
  <div id="menu">
      <ul id="nav">
        <li><a href="/animals">Animals</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
      </div>
  </nav>
  <main>

    <%= yield %>
  </main>
  
</body>
<footer>
    © Copyright Animal House Sanctuary 2013. All rights reserved | Charity Number: 1234567 Website powered by Site Diesel
  </footer>
</html>