.menu {
  display: flex;
  border: 1px solid #fff;
  width: 50px; 
  color: #fff;
 padding: 20px 0;
}

a {
  font-style: 30px;
}

#delete {
  width: 60px !important;
  height: 45px !important;
  font-family: 'Architects Daughter';
  color: purple;
}

#search {
  font-size: 25px;
}

#search-drop {
  font-size: 15px;
}

#menu>ul>li {
  display: inline;
  font-size: 25px;
  border: solid purple;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
  color: blue;
}