.menu {
  display: flex;
  border: 1px solid #fff;
  width: 50px; 
  color: #fff;
 padding: 20px 0;
}

a {
  font-style: 30px;
}

#delete {
  width: 100px !important;
  height: 50px !important;
  background-color: transparent;
  color: white;
  font-family: 'Architects Daughter';
  font-size: 1em;
}

#search {
  font-size: 25px;
}

#search-drop {
  font-size: 15px;
}

#menu>ul>li {
  display: inline;
  font-size: 25px;
  border: solid purple;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
}

