body {
  background: linear-gradient(to right, red, #fff 40%, transparent), url("../images/puppy.jpeg") center center fixed;
  background-size: cover;

  /*background-position: center center;*/
  font-family: 'Architects Daughter';
}

ul {
  list-style-type: none;
}

footer {
  padding: 5px;
  text-align: right;
  margin: 0;
  height: top 100vh;
}

.image {
  height: 35%;
  width: 35%;
  border: 15px solid #e6ebe0;
   border-bottom: 55px solid #e6ebe0;
           box-shadow: 10px 10px 10px #777;
           margin-top: 8px;
}

.cell {
  font-size: 17px;
}

.owner {
  list-style-type: none;
  padding: 10px;
  
}

.owner>li {
  margin: 10px;
}


#line {
  width: 40%;
  margin: 0px;
}

.flex {
  font-size: 25px;
}

#pet_name {
  padding-left: 140px;
  margin-top: -55px;
  margin-bottom: 50px;
}

.cell, #adopted {
  font-size: 35px;
}

.new_animal {
  font-size: 30px;
}

.edit_form{
  text-align: left;
  font-size: 30px;
}








