<h1>Potential Owners</h1>

<a href="/owners/new">Add a new parent</a>

<table>
  <tr>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Address</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><%= owner.first_name %></td>
    <td><%= owner.second_name %></td>
    <td><%= owner.address %></td>
  </tr>
  <% end %>
</table>