<h1>Potential Owners</h1>

<a href="/owners/new">Add a new parent</a>

<div class="owner">
<% for owner in @owners %>
<li>First Name: <%= owner.first_name %></li>
<li>Second Name: <%= owner.second_name %></li>
<li>Address: <%= owner.address %></li>
<% end %>
</div>